@use "sass:color";


.logo-row__go-back {
    width: 25px;
    position: absolute;
    left: 20px;
}

.fa-arrow-left {
    transform: scale(1.4);
}

.diapo {
    width: 100%;
}

.diapo__img {
    max-height: 400px;
    width: inherit;
    object-fit: cover;
    object-position: center;
}

.main {
    background-color: rgb(243, 243, 243);
}

.menu-main {
    background-color: rgb(243, 243, 243);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 15px 10px 15px 10px;
    position: relative;
    top: -40px;
}

.menu-header {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.menu-title {
    font-family: Shrikhand, Roboto, Arial;
    font-size: 26px;
    font-weight: 400;
    padding-left: 10px;
}


.menu-subtitle {
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    font-size: 12px;
    border-bottom: 4px solid $color-tertiary;
    width: 40px;

    h2 {
        margin-bottom: 4px;
        font-weight: 400;
        font-family: Roboto, Arial;
    }
}


.all-menu-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .menu-card {
        height: 60px;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        animation: cards $anim-dur both linear;
        @for $i from 1 through $num-cards {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    
        &:hover {
            .menu-card__validation {
            width: 20%;
            transform: scaleX(1);
            border-radius: 0 20px 20px 0;
            }
    
            .fa-circle-check {
            transition: transform 600ms;
            transform: scale(2) rotate(-1turn);
            }

            .menu-card__text {
            width: calc(60%);
            }

            .menu-card__price {
            width: calc(10%);
            }    
        }   
    
        .menu-card__text {
            width: calc(80%);
            height: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 10px 15px 10px 15px;
            overflow: hidden;
    
            h3 {
                padding-top: 0px;
                padding-bottom: 10px;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: calc(100%);
                overflow: hidden;
    
            }
    
            p {
                margin: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: calc(100%);
                overflow: hidden;
            }
        }
    
        .menu-card__price {
            height: 100%;
            width: calc(20%);
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-weight: 700;
            padding-right: 15px;

            p {
                margin: 10px;
            }
        }
    
        .menu-card__validation {
            color: $color-tertiary;
            background-color: $color-tertiary;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0%;
            height: inherit;
            transform: scaleX(0);
            transition: transform 500ms;
            transform-origin: right;
            z-index: -3;
        
            .fa-circle-check {
                color: #ffffff;
            }
        }
    }
}


.btn-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


/* Media Queries Desktops */
@media screen and (min-width: 1024px) {

    .diapo-img {
        max-height: 500px;
    }    

    .menu-bloc {
        width: 33%;
        margin: 0px 10px 0px 10px;
    }

    .menu-complet {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}