/* Colors */

$color-primary: #9356DC;

$color-secondary: #FF79DA;

$color-tertiary: #99E2D0;


@mixin soft-hover{
  background-color: $color-tertiary;
}


@mixin heart-color-hover {
    color: transparent;
    background-clip: text;
    background: linear-gradient(to bottom left, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}