@use "sass:color";


/* General */

html {
    font-family: Roboto, Arial;
}

body {
    margin: 0;
    padding: 0;
}

  
/* Logo */

.logo-row {
    padding: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    position: relative;
    top: 4px;
}

/* Content */

.primary-btn {
    background-image: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, 'Open Sans', sans-serif;
    border-radius: 40px;
    border: 0px;
    padding: 15px 40px 15px 40px;
}

h3 {
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0%;
}

a {
    text-decoration: none;
    color: black;
}



/* Heart Button */

.fa-heart {
    cursor: pointer;
}

.card-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
    padding: 0px 15px 0px 15px;
}

.card-button {
    border: 0px;
    background-color: inherit;
    padding: 0px;
    &:hover {
        .card-like--bg {
            @include heart-color-hover;
            position: relative;
        }
        .card-like--noBg {
            display: none;
            position: absolute;
        }
    }    
}

.card-like--noBg {
    position: relative;
    color: black;
    background-color: inherit;
    padding: 0px;
}

.card-like--bg {
    position: absolute;
    display: none;
    padding: 0px;
}





/* Footer */


footer {
    background-color: rgb(71, 71, 71);
    padding: 30px 20px 20px 20px;
    color: white;
}

.footer-logo {
    width: 120px;
}

li {
    list-style: none;
}

.iconfooter {
    list-style-type: style type;
}

footer li:hover {
    text-decoration: underline;
    cursor: pointer;
}