@use "sass:color";


/* General */

html {
    font-family: Roboto, Arial;
}

body {
    margin: 0;
    padding: 0;
}

/* Loading Spinner */

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader;
    animation-delay: 2s;
    animation-fill-mode: both;
  
    &__item {
      height: 100px;
      width: 20px;
      border-radius: 100px;
  
      &Container {
        display: flex;
        width: 30%;
        justify-content: space-around;
      }
  
      &--1 {
        background-color: $color-primary;
        transform-origin: top;
        animation: number1 1.5s linear;
        opacity: 0;
      }
    
      &--2 {
        background-color: $color-secondary;
        transform-origin: top;
        animation: number2 1s 0.5s linear;
        opacity: 0;
      }
    
      &--3 {
        background-color: $color-tertiary;
        transform-origin: top;
        animation: number3 0.5s 1s linear;
        opacity: 0;
      }
    }
  
    
}
  
/* Logo */

.logo-row {
    padding: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    position: relative;
    top: 4px;
}

/* Content */

.primary-btn {
    background-image: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, 'Open Sans', sans-serif;
    border-radius: 40px;
    border: 0px;
    padding: 15px 40px 15px 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

    &:hover {
        transition: background-image 1450ms, transform 1000ms;
        filter: brightness(110%);
        cursor: pointer;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .2);
        outline: $color-tertiary 3px outset;
    }
}

h3 {
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0%;
}

a {
    text-decoration: none;
    color: black;
}



/* Heart Button */

.fa-heart {
    cursor: pointer;
}

.card-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
    padding: 0px 15px 0px 15px;
}

.card-button {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    z-index: 1;


    &:hover {
        .card-like--bg {
            animation: heartfill 1s linear;
            animation-fill-mode: forwards;
        }
        .card-like--noBg {
            background-color: inherit;
        }
    }    
}

.card-like--noBg {
    position: relative;
    background-color: inherit;
    color: black;
    padding: 0px;
    z-index: 3;
}

.card-like--bg {
    position: absolute;
    padding: 0px;
    z-index: 2;
    transform: scale(0);
    transition: all 2500ms;
    transform-origin: 50% 90%;
    @include heart-color-hover;

}




/* Footer */


footer {
    background-color: rgb(71, 71, 71);
    padding: 30px 20px 20px 20px;
    color: white;
}

.footer-logo {
    width: 120px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10px;

    & i {
        margin-right: 10px;
    }
}

footer a {
    color: white;

    &:hover {
    text-decoration: underline;
    cursor: pointer;
    }
}