@charset "UTF-8";
/* Colors */
@use "sass:color";
/* General */
html {
  font-family: Roboto, Arial;
}

body {
  margin: 0;
  padding: 0;
}

/* Loading Spinner */
.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 7;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader;
          animation: loader;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader__item {
  height: 100px;
  width: 20px;
  border-radius: 100px;
}

.loader__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.loader__item--1 {
  background-color: #9356DC;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: number1 1.5s linear;
          animation: number1 1.5s linear;
  opacity: 0;
}

.loader__item--2 {
  background-color: #FF79DA;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: number2 1s 0.5s linear;
          animation: number2 1s 0.5s linear;
  opacity: 0;
}

.loader__item--3 {
  background-color: #99E2D0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: number3 0.5s 1s linear;
          animation: number3 0.5s 1s linear;
  opacity: 0;
}

/* Logo */
.logo-row {
  padding: 15px 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  width: 200px;
  position: relative;
  top: 4px;
}

/* Content */
.primary-btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto, 'Open Sans', sans-serif;
  border-radius: 40px;
  border: 0px;
  padding: 15px 40px 15px 40px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.primary-btn:hover {
  -webkit-transition: background-image 1450ms, -webkit-transform 1000ms;
  transition: background-image 1450ms, -webkit-transform 1000ms;
  transition: background-image 1450ms, transform 1000ms;
  transition: background-image 1450ms, transform 1000ms, -webkit-transform 1000ms;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  cursor: pointer;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  outline: #99E2D0 3px outset;
}

h3 {
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0%;
}

a {
  text-decoration: none;
  color: black;
}

/* Heart Button */
.fa-heart {
  cursor: pointer;
}

.card-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: inherit;
  padding: 0px 15px 0px 15px;
}

.card-button {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  z-index: 1;
}

.card-button:hover .card-like--bg {
  -webkit-animation: heartfill 1s linear;
          animation: heartfill 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card-button:hover .card-like--noBg {
  background-color: inherit;
}

.card-like--noBg {
  position: relative;
  background-color: inherit;
  color: black;
  padding: 0px;
  z-index: 3;
}

.card-like--bg {
  position: absolute;
  padding: 0px;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 2500ms;
  transition: all 2500ms;
  -webkit-transform-origin: 50% 90%;
          transform-origin: 50% 90%;
  color: transparent;
  background-clip: text;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
  background-color: #474747;
  padding: 30px 20px 20px 20px;
  color: white;
}

.footer-logo {
  width: 120px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

.footer-nav i {
  margin-right: 10px;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@use "sass:color";
.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9e9e9f3;
  height: 60px;
  -webkit-box-shadow: inset 0px 10px 13px -10px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 10px 13px -10px rgba(0, 0, 0, 0.7);
}

.fa-location-dot {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin-right: 10px;
}

input {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.801);
  width: 250px;
  text-align: center;
  height: 60%;
}

input:active, input:focus {
  outline: 2px outset #9356DC;
}

input:not(:focus):invalid {
  color: white;
  border: 2px solid red;
  background: red;
}

.intro-part {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 40px 40px 70px 40px;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

h1 {
  margin: 0px;
  font-size: 24px;
}

.intro-part p {
  font-weight: 400;
  color: rgba(61, 61, 61, 0.712);
}

/*Fonctionnement*/
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px 10px 20px 20px;
}

.all-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.circle-number {
  background-color: #9356DC;
  border-radius: 80px;
  width: 30px;
  height: 30px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -15px;
}

.circle-number p {
  margin: 0px 0px 0px 0px;
  color: white;
}

.tab-encadré {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  margin: 10px 0px 10px 0px;
  border-radius: 30px;
  padding: 10px 0 10px 40px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.215);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.215);
}

.tab-encadré:hover {
  background-color: #f2eafb;
}

.tab-encadré:hover i {
  color: #9356DC;
}

.tab-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
}

.tab-icon i {
  color: #969696;
}

.tab i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.tab-text {
  margin-left: 20px;
  font-weight: 500;
  font-size: 18px;
}

/*Restaurants*/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  width: 100%;
  padding: 50px 0px 30px 0px;
}

.restaurantstitle {
  width: 90%;
}

.all-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 270px;
  width: 90%;
  min-width: 350px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.card p {
  margin-top: 5px;
}

.card-top {
  position: relative;
  height: 200px;
  width: 100%;
}

.img-card {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  font-size: 14px;
}

.card-bottom {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: inherit;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-text {
  padding-left: 20px;
  color: black;
}

.card-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-right-radius: 20px;
}

/* Media Queries Desktops */
@media screen and (min-width: 1024px) {
  .all-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-items: center;
  }
  .card {
    min-width: 350px;
    width: 80%;
  }
}

@use "sass:color";
.go-back {
  width: 25px;
  position: absolute;
  left: 20px;
}

.fa-arrow-left {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.diapo-part {
  width: 100%;
}

.diapo-img {
  max-height: 400px;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu-main {
  background-color: #f3f3f3;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 15px 10px 15px 10px;
  position: relative;
  top: -40px;
}

.main-grey {
  background-color: #f3f3f3;
}

.menu-header {
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.menu-title {
  font-family: Shrikhand, Roboto, Arial;
  font-size: 26px;
  font-weight: 400;
  padding-left: 10px;
}

.menu-subtitle {
  text-transform: uppercase;
  color: #505050;
  font-size: 12px;
  border-bottom: 4px solid #99E2D0;
  width: 40px;
}

.menu-subtitle h2 {
  margin-bottom: 4px;
  font-weight: 400;
  font-family: Roboto, Arial;
}

.all-menu-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.all-menu-cards .menu-card {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: appearance linear;
          animation: appearance linear;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.all-menu-cards .menu-card:hover .card-validation {
  width: 20%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.all-menu-cards .menu-card:hover .fa-circle-check {
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  -webkit-transform: scale(2) rotate(-1turn);
          transform: scale(2) rotate(-1turn);
}

.all-menu-cards .menu-card:hover .card-text {
  width: calc(60%);
}

.all-menu-cards .menu-card:hover .card-price {
  width: calc(10%);
}

.all-menu-cards .menu-card .card-text {
  width: calc(80%);
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
}

.all-menu-cards .menu-card .card-text h3 {
  padding-top: 0px;
  padding-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100%);
  overflow: hidden;
}

.all-menu-cards .menu-card .card-text p {
  margin: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100%);
  overflow: hidden;
}

.all-menu-cards .menu-card .card-price {
  height: 100%;
  width: calc(20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 700;
  padding-right: 15px;
}

.all-menu-cards .menu-card .card-price p {
  margin: 10px;
}

.all-menu-cards .menu-card .card-validation {
  color: #99E2D0;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0%;
  height: inherit;
  border-radius: 0 20px 20px 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.all-menu-cards .menu-card .card-validation .fa-circle-check {
  color: #ffffff;
}

.btn-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

/* Media Queries Desktops */
@media screen and (min-width: 1024px) {
  .diapo-img {
    max-height: 500px;
  }
  .menu-bloc {
    width: 33%;
    margin: 0px 10px 0px 10px;
  }
  .menu-complet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@-webkit-keyframes heartfill {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  50% {
    -webkit-transform: scale(50%);
            transform: scale(50%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes heartfill {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  50% {
    -webkit-transform: scale(50%);
            transform: scale(50%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes appearance {
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes appearance {
  50% {
    opacity: 0.5;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 1;
    z-index: -4;
  }
}

@keyframes loader {
  100% {
    opacity: 1;
    z-index: -4;
  }
}

@-webkit-keyframes number1 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.5;
  }
  33% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 1;
  }
}

@keyframes number1 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.5;
  }
  33% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 1;
  }
}

@-webkit-keyframes number2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.5;
  }
  66% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes number2 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.5;
  }
  66% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@-webkit-keyframes number3 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 1;
  }
}

@keyframes number3 {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */